<!doctype html>
<html ng-app="rover">
<head>
	<meta charset="utf-8" />
	<title>Rover</title>
	<link rel="stylesheet" href="style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="icon" href="images/icon.png" />
	<link rel="apple-touch-icon" href="images/icon.png" />
	<link rel="apple-touch-icon-precomposed" href="images/icon.png" />
</head>
<body>
<div class="panes">
	<div class="pane" id="pane-browser">
		<nav ng-controller="DropboxAuth">
			<h1>Dropbox</h1>

			<script type="text/ng-template" id="file_tree_item">
				<a ng-href="#browse{{ data.path }}" ng-click="expand(data)">{{ data.name }}</a>
				<ul ng-hide="data.isFile">
					<li ng-repeat="data in data.nodes" ng-include="'file_tree_item'" ng-class="{ folder: data.isFolder, file: data.isFile }"></li>
				</ul>
			</script>

			<ul ng-controller="TreeController">
				<li ng-repeat="data in tree" ng-include="'file_tree_item'" ng-class="{ folder: data.isFolder, file: data.isFile, closes: false }"></li>
			</ul>

			<div ng-show="! messages.dropbox.length" class="message">
				<p ng-show="! data.length && dropbox_client.isAuthenticated"> Loading...</p>
				<p ng-hide="dropbox_client.isAuthenticated"><a href="#" ng-click="dropbox_client.roverAuthInit()">Authorize Dropbox</a></p>
			</div>

			<div rel="pane-browser" class="resize"></div>
		</nav>
	</div>

	<div class="pane" id="pane-editor">
	
	</div>
</div>

<script src="js/angular.min.js"></script>
<script src="js/dropbox.min.js"></script>
<script src="js/rover.js"></script>

</body>
</html>