html, body { width:100%; height:100%; }
body { color:#333; font:16px/1.3 sans-serif; margin:0; padding:0; background:#eee; position:absolute; overflow:hidden; width:100%; height:100% }

#pages { overflow-x:hidden; overflow-y:scroll; -webkit-overflow-scrolling: touch; }
#pages .page { height:inherit; display:block; float:left; vertical-align:top; }
#pages .page-in { width:100%; clear:both; height:inherit; }

#home { padding:0 2em; }
#dropbox-browser { visibility:hidden; background:#777; border-radius:4px; padding:0.2em 0; }
#dropbox-browser a { display:block; text-decoration:none; color:#fff; text-shadow:-1px 1px 0 #555; padding:0.75em 2em; border-bottom:1px solid #666; }
#dropbox-browser ul { display:block; margin:0; padding:0; }
#dropbox-browser li { position:relative; overflow:hidden; display:block; margin:0; padding:0; border-bottom:1px solid #888; position:relative; }
#dropbox-browser .folder:before { float:left; position:absolute; top:1em; left:1em; content:''; display:block; border:6px solid transparent; border-left-color:#ccc; }
#dropbox-browser .folder ul { display:none; border-top:1px solid #888; border-bottom:1px solid #666; }
#dropbox-browser .expanded ul { display:block; }
#dropbox-browser .folder ul a { padding-left:3em; }
#dropbox-browser .disabled a { color:#999; text-shadow:none; }
#dropbox-browser .folder ul .folder:before { left:2em; }
#dropbox-browser .expanded.folder:before { border-color:transparent; border-top-color:#ccc; top:1.2em; margin-left:-0.3em; }
#dropbox-browser > ul > li.expanded:last-child > a { border-bottom:1px solid #666; }
#dropbox-browser > ul > li:last-child, 
#dropbox-browser > ul > li:last-child > a,
#dropbox-browser > ul > li.expanded:last-child ul,
#dropbox-browser li li:last-child,
#dropbox-browser li li:last-child ul,
#dropbox-browser li li:last-child a { border-bottom:none; }

#dropbox-auth { display:block; padding:0.5em 1em; margin:1em 0; background:#288CD8; color:#fff; text-align:center; text-decoration:none; border-radius:4px; }

.page-home { }

#rover { box-sizing:border-box; width:90%; min-height:100%; margin:0 auto; padding:3em 0 4em 0; white-space:pre-wrap; font:18px/1.3 menlo, monospace; outline:none; }
#rover.loading { background:url('images/ajax-loader.gif') no-repeat center center; }
.page-rover header { background:#ddd; padding:0 1em; display:block; text-align:center; z-index:50; }
#doc-title { padding:1em; display:inline-block; font-weight:normal; }

#preview { box-sizing:border-box; width:90%; margin:1em auto; }