body { color:#333; font:16px/1.3 sans-serif; position:absolute; margin:0; padding:0; background:#eee; width:100%; height:100% }
.section-chrome { width:100%; height:100%; }
#editor-editarea { white-space: pre-wrap; font:18px/1.3 menlo, monospace; box-sizing: border-box; margin:0 auto; max-width:900px; min-height:100%; padding:1em; outline:none; }

#editor-editarea .bullet { color:gray; }
#editor-editarea .header { color:#66c; font-size:1.2em; font-weight:bold; }
#editor-editarea .emphasis { font-style:italic; color:orange; }
#editor-editarea .strong { font-weight:bold; color:red; }
#editor-editarea .code { color:green; }
#editor-editarea .blockquote { color:#999; }
#editor-editarea .link_label { color:purple; white-space:pre; }
#editor-editarea .link_url { color:lightblue; white-space:pre; }	