html, body { width:100%; height:100%; }
body { color:#333; font:16px/1.3 sans-serif; margin:0; padding:0; background:#eee; width:100%; height:100% }

#header { text-align:center; position:relative; z-index:50; }
#doc-title { padding:1em; margin:0 auto; display:inline-block; outline:none; }

#pages { overflow:hidden; }
#pages .page { height:inherit; display:block; float:left; -webkit-overflow-scrolling: touch; vertical-align:top; }
#pages .page-in { width:inherit; height:inherit; }

#home { box-sizing:border-box; float:left; padding:0 2em; background:#C6985A url('images/cover.jpg') no-repeat top center; color:#fff; width:100%; height:100%; }

#rover { box-sizing:border-box; width:90%; margin:1em auto; white-space:pre-wrap; font:18px/1.3 menlo, monospace; outline:none; }

#preview { box-sizing:border-box; width:90%; margin:1em auto; }